@using MyStat.HtmlHelpers;
@using MyStat.TagHelpers;
@model IEnumerable<HomeworkItem>?

@if (Model == null)
{
    <h1>Incorrect id!</h1>
}

else
{
    //@Html.RenderHomeworks(Model);
   <homeworks hw-list="Model" />
}

@section Scripts
{
    <script src="~/js/remove.js"></script>
    <script src="~/js/download.js"></script>
}