@using MyStat.HtmlHelpers;
@model IEnumerable<HomeworkItem>?

@if (Model == null)
{
    <h1>Incorrect id!</h1>
}

else
{
    @Html.RenderHomeworks(Model);
}

@section Scripts
{
    <script src="~/js/remove.js"></script>
    <script src="~/js/download.js"></script>
}