body {
}


#UserName {
    margin-bottom: 10px;
}

#Password {
    margin-bottom: 10px;
    margin-left: 80px;
}

.submitButton
{
    margin-left: 280px;
    width: 110px;
}

.redirect {
    margin-left: 100px;
}

#showPassword {
    margin-bottom: 10px;
    margin-left: 205px;
}

/*.input-group-append{
    display: inline-block;
}

.btn btn-primary {
    display: inline-block;
    width: 30px;
    height: 300px;
}*/