html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.hwItem{
    width: 200px;
    height: 400px;
    border: 1px solid;
    margin: 20px;
    display: inline-block;
}

.forManipulations{
    position: relative;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid;
}

.forContent {
    position: relative;
    height: 320px;
    background-color: white;
    border-bottom: 1px solid;
}

.forDate {
    position: relative;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid;
}

#removeButton {
    width: 30px;
    height: 30px;
    position: relative;
    right: -110px;
    margin: 5px;
    padding-left: -5px;
    border-radius: 50%;
    background: red;
}

#downloadButton {
    width: 30px;
    height: 30px;
    position: relative;
    right: 0;
    margin: 5px;
    padding-left: -5px;
    border-radius: 50%;
    background: lightblue;
}

#removeButton:hover, #downloadButton:hover
{
    opacity: .7;
}